<section>
    <div class="title">
        <i class="fa fa-play-circle" aria-hidden="true"></i>
        <h4 style="display:inline-block">Button</h4>
    </div>
    <div class="content">
            All Button using fontsize 14px, line space 20px , padding left & right 25px,  padding Bottom & Top 7px. 
    </div>
    <div class="row" style="padding-left:10px;">
        <div class="col-1"></div>
        <div class="col-sm-2 col-md-2 col-lg-2"><b>Default</b></div>
        <div class="col-sm-2 col-md-2 col-lg-2"><b>Hover</b></div>
        <div class="col-sm-2 col-md-2 col-lg-2"><b>Active</b></div>
        <div class="col-sm-2 col-md-2 col-lg-2"><b>Disabled</b></div>
        <!-- <div class="col-1"></div> -->
        <div class="col-sm-2 col-md-2 col-lg-2"><b>Class</b></div>
    </div>
    <div class="row">
        <div class="col-1"><b>Primary</b></div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="btn btn--primary btn--primary--blue">Button</div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="btn btn--primary btn--primary--blue">Button</div>                
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="btn btn--primary btn--primary--blue">Button</div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="btn btn--primary btn--primary--blue btn--disabled">Button</div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3"><i>btn btn--primary btn--primary--blue</i></div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="btn btn--primary btn--primary--black">Button</div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="btn btn--primary btn--primary--black">Button</div>                
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="btn btn--primary btn--primary--black">Button</div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="btn btn--primary btn--primary--black btn--disabled">Button</div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3"><i>btn btn--primary btn--primary--blue</i></div>
    </div>
    <div class="row wrapper-reverse">
        <div class="col-1"></div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="btn btn--primary btn--primary--reverse">Button</div>   
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="btn btn--primary btn--primary--reverse">Button</div>                
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="btn btn--primary btn--primary--reverse">Button</div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="btn btn--primary btn--primary--reverse btn--disabled">Button</div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3"><i>btn btn--primary btn--primary--blue</i></div>
    </div>
    <div class="row">
            <div class="col-1"><b>Secondary</b></div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                <div class="btn btn--secondary">Button</div>   
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                <div class="btn btn--secondary">Button</div>                
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                <div class="btn btn--secondary">Button</div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                <div class="btn btn--secondary btn--disabled">Button</div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3"><i>btn btn--primary btn--primary--blue</i></div>
        </div>
    <div class="row wrapper-reverse">
        <div class="col-1"></div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="btn btn--secondary--reverse">Button</div>   
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="btn btn--secondary--reverse">Button</div>                
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="btn btn--secondary--reverse">Button</div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="btn btn--secondary--reverse btn--disabled">Button</div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3"><i>btn btn--primary btn--primary--blue</i></div>
    </div>
</section>