{% load static %}
{% load staticfiles %}

<section>
    <div class="title">
        <i class="fa fa-caret-square-o-right" aria-hidden="true"></i>
        <h4 style="display:inline-block">summary block</h4>
    </div>
    <!-- Summary block old-->
    <!-- <div>
        <svg version="1.1" id="Layer_1" xmlns:x="&ns_extend;" xmlns:i="&ns_ai;" xmlns:graph="&ns_graphs;"
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1152 648"
        enable-background="new 0 0 1152 648" xml:space="preserve">
       
       <g transform="translate(-100,-350)" class="summaryblock">
           <g class="parent">
               <path id="summaryblock1" fill="#F7941E" d="M258.9,564.1H117.1c-7,0-12.6-5.6-12.6-12.6v-103c0-7,5.6-12.6,12.6-12.6h141.8c4.2,0,8.2,2.1,10.5,5.7
                   l34,51.5c2.8,4.2,2.8,9.7,0,13.9l-34,51.5C267.1,562,263.1,564.1,258.9,564.1z"/>
               <text transform="matrix(0.9375 0 0 1 180.3415 509.4644)" font-family='Gotham Bold' font-size="44.25px">0</text>
           </g>
           <g class="parent">
               <path id="summaryblock2" fill="none" stroke="#F7941E" stroke-width="2" stroke-miterlimit="10" d="M439.9,441.5c-2.3-3.5-6.3-5.7-10.5-5.7H275v0.9
                   l37.2,56.3c2.8,4.2,2.8,9.7,0,13.9L275,563.2v0.9h154.4c4.2,0,8.2-2.1,10.5-5.7l34-51.5c2.8-4.2,2.8-9.7,0-13.9L439.9,441.5z"/>
               <g>
                   <text transform="matrix(1 0 0 1 369.7581 509.464)" fill="#F7941E" font-family='Gotham Bold' font-size="44.25px">1</text>
               </g>
           </g>
           <g class="parent">
               <path id="summaryblock3" fill="#F7941E" d="M610.4,441.5c-2.3-3.5-6.3-5.7-10.5-5.7H445.4v0.9l37.2,56.3c2.8,4.2,2.8,9.7,0,13.9l-37.2,56.3v0.9h154.4
                   c4.2,0,8.2-2.1,10.5-5.7l34-51.5c2.8-4.2,2.8-9.7,0-13.9L610.4,441.5z"/>
               <g>
                   <text transform="matrix(1 0 0 1 538.8967 509.4643)" font-family='Gotham Bold' font-size="44.25px">3</text>
               </g>
           </g>
           <g class="parent">
               <path id="summaryblock4" fill="#F7941E" d="M780.8,441.5c-2.3-3.5-6.3-5.7-10.5-5.7H615.9v0.9l37.2,56.3c2.8,4.2,2.8,9.7,0,13.9l-37.2,56.3v0.9h154.4
                   c4.2,0,8.2-2.1,10.5-5.7l34-51.5c2.8-4.2,2.8-9.7,0-13.9L780.8,441.5z"/>
               <g>
                   <text transform="matrix(1 0 0 1 710.6614 509.4642)" font-family='Gotham Bold' font-size="44.25px">4</text>
               </g>
           </g>
           <g class="parent">
               <path id="summaryblock5" fill="#F7941E" d="M951.3,441.5c-2.3-3.5-6.3-5.7-10.5-5.7H786.4v0.9l37.2,56.3c2.8,4.2,2.8,9.7,0,13.9l-37.2,56.3v0.9h154.4
                   c4.2,0,8.2-2.1,10.5-5.7l34-51.5c2.8-4.2,2.8-9.7,0-13.9L951.3,441.5z"/>
               <g>
                   <text transform="matrix(1 0 0 1 871.8379 509.4641)" font-family='Gotham Bold' font-size="44.25px">5</text>
               </g>
           </g>
           <g class="parent">
               <path id="summaryblock6" fill="#F7941E" d="M1118.8,448.5c0-7-5.6-12.6-12.6-12.6H957.6v0.9l37.2,56.3c2.8,4.2,2.8,9.7,0,13.9l-37.2,56.3v0.9h148.6
                   c7,0,12.6-5.6,12.6-12.6V448.5z"/>
               <g>
                   <text transform="matrix(1 0 0 1 1042.4261 509.4645)" font-family='Gotham Bold' font-size="44.25px">6</text>
               </g>
           </g>
       </g>
       </svg>
    </div> -->
    <div class="sb">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 1306 113.7" enable-background="new 0 0 1306 113.7" xml:space="preserve">
            <g class="sb-item" onclick="window.top.location.href='http://www.google.com/';">
                <path class="sb-square" d="M1297.1,105.2H996.9c-3.3,0-5.9-2.6-5.9-5.9V14.4c0-3.3,2.6-5.9,5.9-5.9h300.2c3.3,0,5.9,2.6,5.9,5.9v84.9   C1303,102.5,1300.4,105.2,1297.1,105.2z"/>
                <text transform="matrix(1 0 0 1 1018.8809 63.9512)" font-family='Gotham Bold' font-size="24px">Sent</text>
                <text transform="matrix(1 0 0 1 1143.9319 63.6163)" font-family='Gotham Book' font-size="24px">2 records(s)   </text>
            </g>
            <g class="sb-item" onclick="window.top.location.href='http://www.google.com/';">
                <path class="sb-center" stroke-miterlimit="10" d="M639,105.2H336.7c-3.2,0-5.4-3.3-4.1-6.3l17.5-40.3c0.5-1.1,0.5-2.4,0-3.6l-17.5-40.3   c-1.3-3,0.9-6.3,4.1-6.3H639c1.8,0,3.4,1.1,4.1,2.7L662.1,55c0.5,1.1,0.5,2.4,0,3.6l-19.1,43.9C642.4,104.1,640.8,105.2,639,105.2z   "/>
                <text transform="matrix(1 0 0 1 367.4923 63.9512)" font-family='Gotham Bold' font-size="24px">Pending</text>
                <text transform="matrix(1 0 0 1 492.5434 63.6163)" font-family='Gotham Book' font-size="24px">2 records(s)   </text>
            </g>
            <g class="sb-item" onclick="window.top.location.href='http://www.google.com/';">
                <path class="sb-first" d="M308.7,105.2H6.5c-3.2,0-5.4-3.3-4.1-6.3V14.8c-1.3-3,0.9-6.3,4.1-6.3h302.2c1.8,0,3.4,1.1,4.1,2.7   L331.9,55c0.5,1.1,0.5,2.4,0,3.6l-19.1,43.9C312.1,104.1,310.5,105.2,308.7,105.2z"/>
                <text transform="matrix(1 0 0 1 37.2379 63.9512)" font-family='Gotham Bold' font-size="24px">Rejected</text>
                <text transform="matrix(1 0 0 1 162.289 63.6163)" font-family='Gotham Book' font-size="24px">2 records(s)   </text>
            </g>
            <g class="sb-item" onclick="window.top.location.href='http://www.google.com/';">
                <path class="sb-last" d="M969.2,105.2H667c-3.2,0-5.4-3.3-4.1-6.3l17.5-40.3c0.5-1.1,0.5-2.4,0-3.6l-17.5-40.3   c-1.3-3,0.9-6.3,4.1-6.3h302.2c1.8,0,3.4,1.1,4.1,2.7v91.3C972.6,104.1,971,105.2,969.2,105.2z"/>
                <text transform="matrix(1 0 0 1 697.7467 63.9512)" font-family='Gotham Bold' font-size="24px">Abort</text>
                <text transform="matrix(1 0 0 1 822.7978 63.6163)" font-family='Gotham Book' font-size="24px">2 records(s)   </text>
            </g>
        </svg>
    </div>
    <div>
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="-2px" y="0px"
            viewBox="0 0 978.6 105.2" enable-background="new 0 0 978.6 105.2" xml:space="preserve">
        <g class="sb-item" onclick="window.top.location.href='http://www.google.com/';">
            <path class="sb-center" d="M641,102.2H338.7c-3.2,0-5.4-3.3-4.1-6.3l17.5-40.3c0.5-1.1,0.5-2.4,0-3.6l-17.5-40.3
                c-1.3-3,0.9-6.3,4.1-6.3H641c1.8,0,3.4,1.1,4.1,2.7L664.1,52c0.5,1.1,0.5,2.4,0,3.6l-19.1,43.9C644.4,101.1,642.8,102.2,641,102.2z
                "/>
            <text transform="matrix(1 0 0 1 369.4923 60.9512)" font-family='Gotham Bold' font-size="24px">Pending</text>
            <text transform="matrix(1 0 0 1 494.5434 60.6163)" font-family='Gotham Book' font-size="24px">2 records(s)   </text>
        </g>
        <g class="sb-item" onclick="window.top.location.href='http://www.google.com/';">
            <path class="sb-first" d="M310.7,102.2H8.5c-3.2,0-5.4-3.3-4.1-6.3V11.8c-1.3-3,0.9-6.3,4.1-6.3h302.2c1.8,0,3.4,1.1,4.1,2.7
                L333.9,52c0.5,1.1,0.5,2.4,0,3.6l-19.1,43.9C314.1,101.1,312.5,102.2,310.7,102.2z"/>
            <text transform="matrix(1 0 0 1 39.2379 60.9512)" font-family='Gotham Bold' font-size="24px">Rejected</text>
            <text transform="matrix(1 0 0 1 164.289 60.6163)" font-family='Gotham Book' font-size="24px">2 records(s)   </text>
        </g>
        <g class="sb-item" onclick="window.top.location.href='http://www.google.com/';">
            <path class="sb-last" d="M971.2,102.2H669c-3.2,0-5.4-3.3-4.1-6.3l17.5-40.3c0.5-1.1,0.5-2.4,0-3.6l-17.5-40.3
                c-1.3-3,0.9-6.3,4.1-6.3h302.2c1.8,0,3.4,1.1,4.1,2.7v91.3C974.6,101.1,973,102.2,971.2,102.2z"/>
            <text transform="matrix(1 0 0 1 699.7467 60.9512)" font-family='Gotham Bold' font-size="24px">Abort</text>
            <text transform="matrix(1 0 0 1 824.7978 60.6163)" font-family='Gotham Book' font-size="24px">2 records(s)   </text>
        </g>
        </svg>
    </div>
    <div>
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 1959.7 113.7" enable-background="new 0 0 1959.7 113.7" xml:space="preserve">
            <g class="sb-item" onclick="window.top.location.href='http://www.google.com/';">
                <path class="sb-square" d="M1294.1,105.2H993.9c-3.3,0-5.9-2.6-5.9-5.9V14.4c0-3.3,2.6-5.9,5.9-5.9h300.2c3.3,0,5.9,2.6,5.9,5.9v84.9
                    C1300,102.5,1297.4,105.2,1294.1,105.2z"/>
                <text transform="matrix(1 0 0 1 1015.8809 63.9512)" font-family='Gotham Bold' font-size="24px">Sent</text>
                <text transform="matrix(1 0 0 1 1140.9319 63.6163)" font-family='Gotham Book' font-size="24px">2 records(s)   </text>
            </g>
            <g class="sb-item" onclick="window.top.location.href='http://www.google.com/';">
                <path class="sb-center" d="M640,105.2H337.7c-3.2,0-5.4-3.3-4.1-6.3l17.5-40.3c0.5-1.1,0.5-2.4,0-3.6l-17.5-40.3
                    c-1.3-3,0.9-6.3,4.1-6.3H640c1.8,0,3.4,1.1,4.1,2.7L663.1,55c0.5,1.1,0.5,2.4,0,3.6l-19.1,43.9C643.4,104.1,641.8,105.2,640,105.2z
                    "/>
                <text transform="matrix(1 0 0 1 368.4923 63.9512)" font-family='Gotham Bold' font-size="24px">Pending</text>
                <text transform="matrix(1 0 0 1 493.5434 63.6163)" font-family='Gotham Book' font-size="24px">2 records(s)   </text>
            </g>
            <g class="sb-item" onclick="window.top.location.href='http://www.google.com/';">
                <path class="sb-first" d="M309.7,105.2H7.5c-3.2,0-5.4-3.3-4.1-6.3V14.8c-1.3-3,0.9-6.3,4.1-6.3h302.2c1.8,0,3.4,1.1,4.1,2.7
                    L332.9,55c0.5,1.1,0.5,2.4,0,3.6l-19.1,43.9C313.1,104.1,311.5,105.2,309.7,105.2z"/>
                <text transform="matrix(1 0 0 1 38.2379 63.9512)" font-family='Gotham Bold' font-size="24px">Rejected</text>
                <text transform="matrix(1 0 0 1 163.289 63.6163)" font-family='Gotham Book' font-size="24px">2 records(s)   </text>
            </g>
            <g class="sb-item" onclick="window.top.location.href='http://www.google.com/';">
                <path class="sb-last" d="M970.2,105.2H668c-3.2,0-5.4-3.3-4.1-6.3l17.5-40.3c0.5-1.1,0.5-2.4,0-3.6l-17.5-40.3
                    c-1.3-3,0.9-6.3,4.1-6.3h302.2c1.8,0,3.4,1.1,4.1,2.7v91.3C973.6,104.1,972,105.2,970.2,105.2z"/>
                <text transform="matrix(1 0 0 1 698.7467 63.9512)" font-family='Gotham Bold' font-size="24px">Abort</text>
                <text transform="matrix(1 0 0 1 823.7978 63.6163)" font-family='Gotham Book' font-size="24px">2 records(s)   </text>
            </g>
            <g class="sb-item" onclick="window.top.location.href='http://www.google.com/';">
                <path class="sb-first" d="M1620.1,105.2h-302.2c-3.2,0-5.4-3.3-4.1-6.3V14.8c-1.3-3,0.9-6.3,4.1-6.3h302.2c1.8,0,3.4,1.1,4.1,2.7
                    l19.1,43.9c0.5,1.1,0.5,2.4,0,3.6l-19.1,43.9C1623.5,104.1,1621.9,105.2,1620.1,105.2z"/>
                <text transform="matrix(1 0 0 1 1348.6412 63.9512)" font-family='Gotham Bold' font-size="24px">Rejected</text>
                <text transform="matrix(1 0 0 1 1473.6923 63.6163)" font-family='Gotham Book' font-size="24px">2 records(s)   </text>
            </g>
            <g class="sb-item" onclick="window.top.location.href='http://www.google.com/';">
                <path class="sb-last" d="M1950.4,105.2h-302.2c-3.2,0-5.4-3.3-4.1-6.3l17.5-40.3c0.5-1.1,0.5-2.4,0-3.6L1644,14.8
                    c-1.3-3,0.9-6.3,4.1-6.3h302.2c1.8,0,3.4,1.1,4.1,2.7v91.3C1953.8,104.1,1952.2,105.2,1950.4,105.2z"/>
                <text transform="matrix(1 0 0 1 1678.8956 63.9512)" font-family='Gotham Bold' font-size="24px">Abort</text>
                <text transform="matrix(1 0 0 1 1803.9467 63.6163)" font-family='Gotham Book' font-size="24px">2 records(s)   </text>
            </g>
        </svg>
    </div>

    <div>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 1978.4 115.5" enable-background="new 0 0 1978.4 115.5" xml:space="preserve">
            <g class="sb-item" onclick="window.top.location.href='http://www.google.com/';">
                <path class="sb-square" d="M1962.4,106.6h-300.2c-3.3,0-5.9-2.6-5.9-5.9V15.8c0-3.3,2.6-5.9,5.9-5.9h300.2c3.3,0,5.9,2.6,5.9,5.9v84.9   C1968.3,103.9,1965.7,106.6,1962.4,106.6z"/>
                <text transform="matrix(1 0 0 1 1684.2021 65.3508)" font-family='Gotham Bold' font-size="24px">Sent</text>
                <text transform="matrix(1 0 0 1 1809.2533 65.0158)" font-family='Gotham Book' font-size="24px">2 records(s)   </text>
            </g>
            <g class="sb-item" onclick="window.top.location.href='http://www.google.com/';">
                <path class="sb-center" d="M645.4,106.6H343.1c-3.2,0-5.4-3.3-4.1-6.3L356.5,60c0.5-1.1,0.5-2.4,0-3.6L339,16.2   c-1.3-3,0.9-6.3,4.1-6.3h302.2c1.8,0,3.4,1.1,4.1,2.7l19.1,43.9c0.5,1.1,0.5,2.4,0,3.6l-19.1,43.9   C648.8,105.5,647.1,106.6,645.4,106.6z"/>
                <text transform="matrix(1 0 0 1 373.8885 65.3508)" font-family='Gotham Bold' font-size="24px">Pending</text>
                <text transform="matrix(1 0 0 1 498.9397 65.0158)" font-family='Gotham Book' font-size="24px">2 records(s)   </text>
            </g>
            <g class="sb-item" onclick="window.top.location.href='http://www.google.com/';">
                <path class="sb-first" d="M315.1,106.6H12.9c-3.2,0-5.4-3.3-4.1-6.3V16.2c-1.3-3,0.9-6.3,4.1-6.3h302.2c1.8,0,3.4,1.1,4.1,2.7   l19.1,43.9c0.5,1.1,0.5,2.4,0,3.6l-19.1,43.9C318.5,105.5,316.9,106.6,315.1,106.6z"/>
                <text transform="matrix(1 0 0 1 43.6342 65.3508)" font-family='Gotham Bold' font-size="24px">Rejected</text>
                <text transform="matrix(1 0 0 1 168.6853 65.0158)" font-family='Gotham Book' font-size="24px">2 records(s)   </text>
            </g>
            <g class="sb-item" onclick="window.top.location.href='http://www.google.com/';">
                <path class="sb-last" d="M1636.1,106.6h-302.2c-3.2,0-5.4-3.3-4.1-6.3l17.5-40.3c0.5-1.1,0.5-2.4,0-3.6l-17.5-40.3   c-1.3-3,0.9-6.3,4.1-6.3h302.2c1.8,0,3.4,1.1,4.1,2.7v91.3C1639.5,105.5,1637.9,106.6,1636.1,106.6z"/>
                <text transform="matrix(1 0 0 1 1364.6517 65.3508)" font-family='Gotham Bold' font-size="24px">Abort</text>
                <text transform="matrix(1 0 0 1 1489.7029 65.0158)" font-family='Gotham Book' font-size="24px">2 records(s)   </text>
            </g>
            <g class="sb-item" onclick="window.top.location.href='http://www.google.com/';">
                <path class="sb-center" d="M975.6,106.6H673.4c-3.2,0-5.4-3.3-4.1-6.3L686.8,60c0.5-1.1,0.5-2.4,0-3.6l-17.5-40.3   c-1.3-3,0.9-6.3,4.1-6.3h302.2c1.8,0,3.4,1.1,4.1,2.7l19.1,43.9c0.5,1.1,0.5,2.4,0,3.6l-19.1,43.9   C979,105.5,977.4,106.6,975.6,106.6z"/>
                <text transform="matrix(1 0 0 1 704.143 65.3508)" font-family='Gotham Bold' font-size="24px">Pending</text>
                <text transform="matrix(1 0 0 1 829.1941 65.0159)" font-family='Gotham Book' font-size="24px">2 records(s)   </text>
            </g>
            <g class="sb-item" onclick="window.top.location.href='http://www.google.com/';">
                <path class="sb-center" d="M1307.3,106.6H1005c-3.2,0-5.4-3.3-4.1-6.3l17.5-40.3c0.5-1.1,0.5-2.4,0-3.6l-17.5-40.3   c-1.3-3,0.9-6.3,4.1-6.3h302.2c1.8,0,3.4,1.1,4.1,2.7l19.1,43.9c0.5,1.1,0.5,2.4,0,3.6l-19.1,43.9   C1310.7,105.5,1309.1,106.6,1307.3,106.6z"/>
                <text transform="matrix(1 0 0 1 1035.7919 65.3508)" font-family='Gotham Bold' font-size="24px">Pending</text>
                <text transform="matrix(1 0 0 1 1160.843 65.0159)" font-family='Gotham Book' font-size="24px">2 records(s)   </text>
            </g>
        </svg>
    </div>
    <div>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 1374 244" enable-background="new 0 0 1374 244" xml:space="preserve">
                <g>
                    <path fill="none" stroke="#F36F21" stroke-width="4" stroke-miterlimit="10" d="M659.2,232.7H374.9c-9.1,0-15.3-9.1-12.1-17.6   l33.6-87.8c1.1-3,1.1-6.3,0-9.2l-33.6-87.8c-3.2-8.5,3-17.6,12.1-17.6h284.3c5.4,0,10.2,3.3,12.1,8.3l37.1,97.1   c1.1,3,1.1,6.3,0,9.2l-37.1,97.1C669.4,229.4,664.6,232.7,659.2,232.7z"/>
                    <g>
                        <text transform="matrix(1 0 0 1 421.8167 73.2203)" fill="#F36F21" font-family='Gotham Bold' font-size="36px">Pending</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 421.8168 190.2203)" fill="#F36F21" font-family='Gotham Bold' font-size="48px">3</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 421.817 132.7628)" fill="#F36F21" font-family='Gotham Book'font-size="24px">Aug 12, 2018</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 454.817 191.2629)" fill="#F36F21" font-family='Gotham Book'font-size="24px">record(s)</text>
                    </g>
                    <rect x="425.1" y="93" fill="#F36F21" width="77.8" height="7.1"/>
                </g>
                <g>
                    <path fill="#51B848" d="M1350.6,232.7h-286.1c-7.1,0-12.9-5.8-12.9-12.9V25.7c0-7.1,5.8-12.9,12.9-12.9h286.1   c7.1,0,12.9,5.8,12.9,12.9v194.1C1363.6,226.9,1357.8,232.7,1350.6,232.7z"/>
                    <g>
                        <text transform="matrix(1 0 0 1 1086.2899 74.2628)" fill="#FFFFFF" font-family='Gotham Bold' font-size="36px">Rejected</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 1086.29 191.2628)" fill="#FFFFFF" font-family='Gotham Bold' font-size="48px">2</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 1086.29 133.8054)" fill="#FFFFFF" font-family='Gotham Book'font-size="24px">Aug 12, 2018</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 1121.2902 191.2624)" fill="#FFFFFF" font-family='Gotham Book'font-size="24px">record(s)</text>
                    </g>
                    <rect x="1089.6" y="94.1" fill="#FFFFFF" width="77.8" height="7.1"/>
                </g>
                <g>
                    <path fill="none" stroke="#EF434E" stroke-width="4" stroke-miterlimit="10" d="M311.9,12.7H21.8c-7.1,0-12.9,5.8-12.9,12.9v194.1   c0,7.1,5.8,12.9,12.9,12.9h290.2c5.4,0,10.2-3.3,12.1-8.3l37.1-97.1c1.1-3,1.1-6.3,0-9.2L324,21.1   C322.1,16.1,317.3,12.7,311.9,12.7z"/>
                    <g>
                        <text transform="matrix(1 0 0 1 45.5319 73.2201)" fill="#EF434E" font-family='Gotham Bold' font-size="36px">Rejected</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 45.532 190.2201)" fill="#EF434E" font-family='Gotham Bold' font-size="48px">12</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 45.5321 132.7626)" fill="#EF434E" font-family='Gotham Book'font-size="24px">Aug 12, 2018</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 103.5322 190.2202)" fill="#EF434E" font-family='Gotham Book'font-size="24px">record(s)</text>
                    </g>
                    <rect x="48.9" y="93" fill="#EF434E" width="77.8" height="7.1"/>
                </g>
                <g>
                    <path fill="none" stroke="#9F3C71" stroke-width="4" stroke-miterlimit="10" d="M1012.4,232.7H722.2c-9.1,0-15.3-9.1-12.1-17.6   l33.6-87.8c1.1-3,1.1-6.3,0-9.2l-33.6-87.8c-3.2-8.5,3-17.6,12.1-17.6h290.3c1.3,0,2.5,1.2,3.3,3.3c0.6,1.4,0.8,3,0.8,4.5v204.4   c0,1.5-0.2,3.1-0.8,4.5C1014.9,231.5,1013.7,232.7,1012.4,232.7z"/>
                    <g>
                        <text transform="matrix(1 0 0 1 770.0829 74.2625)" fill="#9F3C71" font-family='Gotham Bold' font-size="36px">Disbursed</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 770.083 191.2625)" fill="#9F3C71" font-family='Gotham Bold' font-size="48px">12</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 770.0831 133.8049)" fill="#9F3C71" font-family='Gotham Book'font-size="24px">Aug 12, 2018</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 828.0831 191.2625)" fill="#9F3C71" font-family='Gotham Book'font-size="24px">record(s)</text>
                    </g>
                    <rect x="773.4" y="94.1" fill="#9F3C71" width="77.8" height="7.1"/>
                </g>
                </svg>
    </div>
    <div>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 1026 244" enable-background="new 0 0 1026 244" xml:space="preserve">
                <g>
                    <path fill="none" stroke="#F36F21" stroke-width="4" stroke-miterlimit="10" d="M659.2,232.7H374.9c-9.1,0-15.3-9.1-12.1-17.6   l33.6-87.8c1.1-3,1.1-6.3,0-9.2l-33.6-87.8c-3.2-8.5,3-17.6,12.1-17.6h284.3c5.4,0,10.2,3.3,12.1,8.3l37.1,97.1   c1.1,3,1.1,6.3,0,9.2l-37.1,97.1C669.4,229.4,664.6,232.7,659.2,232.7z"/>
                    <g>
                        <text transform="matrix(1 0 0 1 421.8167 73.2203)" fill="#F36F21" font-family='Gotham Bold' font-size="36px">Pending</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 421.8168 190.2203)" fill="#F36F21" font-family='Gotham Bold' font-size="48px">3</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 421.817 132.7628)" fill="#F36F21" font-family='Gotham Book'font-size="24px">Aug 12, 2018</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 454.817 191.2629)" fill="#F36F21" font-family='Gotham Book'font-size="24px">record(s)</text>
                    </g>
                    <rect x="425.1" y="93" fill="#F36F21" width="77.8" height="7.1"/>
                </g>
                <g>
                    <path fill="none" stroke="#EF434E" stroke-width="4" stroke-miterlimit="10" d="M311.9,12.7H21.8c-7.1,0-12.9,5.8-12.9,12.9v194.1   c0,7.1,5.8,12.9,12.9,12.9h290.2c5.4,0,10.2-3.3,12.1-8.3l37.1-97.1c1.1-3,1.1-6.3,0-9.2L324,21.1   C322.1,16.1,317.3,12.7,311.9,12.7z"/>
                    <g>
                        <text transform="matrix(1 0 0 1 45.5319 73.2201)" fill="#EF434E" font-family='Gotham Bold' font-size="36px">Rejected</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 45.532 190.2201)" fill="#EF434E" font-family='Gotham Bold' font-size="48px">12</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 45.5321 132.7626)" fill="#EF434E" font-family='Gotham Book'font-size="24px">Aug 12, 2018</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 103.5322 190.2202)" fill="#EF434E" font-family='Gotham Book'font-size="24px">record(s)</text>
                    </g>
                    <rect x="48.9" y="93" fill="#EF434E" width="77.8" height="7.1"/>
                </g>
                <g>
                    <path fill="none" stroke="#9F3C71" stroke-width="4" stroke-miterlimit="10" d="M1012.4,232H722.2c-9.1,0-15.3-9.1-12.1-17.6   l33.6-87.8c1.1-3,1.1-6.3,0-9.2l-33.6-87.8c-3.2-8.5,3-17.6,12.1-17.6h290.3c1.3,0,2.5,1.2,3.3,3.3c0.6,1.4,0.8,3,0.8,4.5v204.4   c0,1.5-0.2,3.1-0.8,4.5C1014.9,230.8,1013.7,232,1012.4,232z"/>
                    <g>
                        <text transform="matrix(1 0 0 1 770.0829 73.5324)" fill="#9F3C71" font-family='Gotham Bold' font-size="36px">Disbursed</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 770.083 190.5325)" fill="#9F3C71" font-family='Gotham Bold' font-size="48px">12</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 770.0831 133.075)" fill="#9F3C71" font-family='Gotham Book'font-size="24px">Aug 12, 2018</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 828.0831 190.5325)" fill="#9F3C71" font-family='Gotham Book'font-size="24px">record(s)</text>
                    </g>
                    <rect x="773.4" y="93.3" fill="#9F3C71" width="77.8" height="7.1"/>
                </g>
                </svg>
    </div>
    <div>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 2070 244" enable-background="new 0 0 2070 244" xml:space="preserve">
                <g>
                    <path fill="none" stroke="#F36F21" stroke-width="4" stroke-miterlimit="10" d="M659.2,232.7H374.9c-9.1,0-15.3-9.1-12.1-17.6   l33.6-87.8c1.1-3,1.1-6.3,0-9.2l-33.6-87.8c-3.2-8.5,3-17.6,12.1-17.6h284.3c5.4,0,10.2,3.3,12.1,8.3l37.1,97.1   c1.1,3,1.1,6.3,0,9.2l-37.1,97.1C669.4,229.4,664.6,232.7,659.2,232.7z"/>
                    <g>
                        <text transform="matrix(1 0 0 1 421.8167 73.2203)" fill="#F36F21" font-family='Gotham Bold' font-size="36px">Pending</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 421.8168 190.2203)" fill="#F36F21" font-family='Gotham Bold' font-size="48px">3</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 421.817 132.7628)" fill="#F36F21" font-family='Gotham Book'font-size="24px">Aug 12, 2018</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 454.817 191.2629)" fill="#F36F21" font-family='Gotham Book'font-size="24px">record(s)</text>
                    </g>
                    <rect x="425.1" y="93" fill="#F36F21" width="77.8" height="7.1"/>
                </g>
                <g>
                    <path fill="#51B848" d="M1350.6,232.7h-286.1c-7.1,0-12.9-5.8-12.9-12.9V25.7c0-7.1,5.8-12.9,12.9-12.9h286.1   c7.1,0,12.9,5.8,12.9,12.9v194.1C1363.6,226.9,1357.8,232.7,1350.6,232.7z"/>
                    <g>
                        <text transform="matrix(1 0 0 1 1086.2899 74.2628)" fill="#FFFFFF" font-family='Gotham Bold' font-size="36px">Rejected</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 1086.29 191.2628)" fill="#FFFFFF" font-family='Gotham Bold' font-size="48px">2</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 1086.29 133.8054)" fill="#FFFFFF" font-family='Gotham Book'font-size="24px">Aug 12, 2018</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 1121.2902 191.2624)" fill="#FFFFFF" font-family='Gotham Book'font-size="24px">record(s)</text>
                    </g>
                    <rect x="1089.6" y="94.1" fill="#FFFFFF" width="77.8" height="7.1"/>
                </g>
                <g>
                    <path fill="none" stroke="#EF434E" stroke-width="4" stroke-miterlimit="10" d="M311.9,12.7H21.8c-7.1,0-12.9,5.8-12.9,12.9v194.1   c0,7.1,5.8,12.9,12.9,12.9h290.2c5.4,0,10.2-3.3,12.1-8.3l37.1-97.1c1.1-3,1.1-6.3,0-9.2L324,21.1   C322.1,16.1,317.3,12.7,311.9,12.7z"/>
                    <g>
                        <text transform="matrix(1 0 0 1 45.5319 73.2201)" fill="#EF434E" font-family='Gotham Bold' font-size="36px">Rejected</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 45.532 190.2201)" fill="#EF434E" font-family='Gotham Bold' font-size="48px">12</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 45.5321 132.7626)" fill="#EF434E" font-family='Gotham Book'font-size="24px">Aug 12, 2018</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 103.5322 190.2202)" fill="#EF434E" font-family='Gotham Book'font-size="24px">record(s)</text>
                    </g>
                    <rect x="48.9" y="93" fill="#EF434E" width="77.8" height="7.1"/>
                </g>
                <g>
                    <path fill="none" stroke="#9F3C71" stroke-width="4" stroke-miterlimit="10" d="M1012.4,232.7H722.2c-9.1,0-15.3-9.1-12.1-17.6   l33.6-87.8c1.1-3,1.1-6.3,0-9.2l-33.6-87.8c-3.2-8.5,3-17.6,12.1-17.6h290.3c1.3,0,2.5,1.2,3.3,3.3c0.6,1.4,0.8,3,0.8,4.5v204.4   c0,1.5-0.2,3.1-0.8,4.5C1014.9,231.5,1013.7,232.7,1012.4,232.7z"/>
                    <g>
                        <text transform="matrix(1 0 0 1 770.0829 74.2625)" fill="#9F3C71" font-family='Gotham Bold' font-size="36px">Disbursed</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 770.083 191.2625)" fill="#9F3C71" font-family='Gotham Bold' font-size="48px">12</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 770.0831 133.8049)" fill="#9F3C71" font-family='Gotham Book'font-size="24px">Aug 12, 2018</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 828.0831 191.2625)" fill="#9F3C71" font-family='Gotham Book'font-size="24px">record(s)</text>
                    </g>
                    <rect x="773.4" y="94.1" fill="#9F3C71" width="77.8" height="7.1"/>
                </g>
                <g>
                    <path fill="none" stroke="#EF434E" stroke-width="4" stroke-miterlimit="10" d="M1701.7,10.2h-290.2c-7.1,0-12.9,5.8-12.9,12.9   v194.1c0,7.1,5.8,12.9,12.9,12.9h290.2c5.4,0,10.2-3.3,12.1-8.3l37.1-97.1c1.1-3,1.1-6.3,0-9.2l-37.1-97.1   C1711.9,13.5,1707.1,10.2,1701.7,10.2z"/>
                    <g>
                        <text transform="matrix(1 0 0 1 1435.3103 70.7103)" fill="#EF434E" font-family='Gotham Bold' font-size="36px">Rejected</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 1435.3103 187.7103)" fill="#EF434E" font-family='Gotham Bold' font-size="48px">12</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 1435.3104 130.2528)" fill="#EF434E" font-family='Gotham Book'font-size="24px">Aug 12, 2018</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 1493.3105 187.7103)" fill="#EF434E" font-family='Gotham Book'font-size="24px">record(s)</text>
                    </g>
                    <rect x="1438.6" y="90.5" fill="#EF434E" width="77.8" height="7.1"/>
                </g>
                <g>
                    <path fill="none" stroke="#9F3C71" stroke-width="4" stroke-miterlimit="10" d="M2054.9,230.2h-290.3c-9.1,0-15.3-9.1-12.1-17.6   l33.6-87.8c1.1-3,1.1-6.3,0-9.2l-33.6-87.8c-3.2-8.5,3-17.6,12.1-17.6h290.3c1.3,0,2.5,1.2,3.3,3.3c0.6,1.4,0.8,3,0.8,4.5v204.4   c0,1.5-0.2,3.1-0.8,4.5C2057.4,229,2056.2,230.2,2054.9,230.2z"/>
                    <g>
                        <text transform="matrix(1 0 0 1 1812.5947 71.7526)" fill="#9F3C71" font-family='Gotham Bold' font-size="36px">Disbursed</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 1812.5948 188.7526)" fill="#9F3C71" font-family='Gotham Bold' font-size="48px">12</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 1812.595 131.2951)" fill="#9F3C71" font-family='Gotham Book'font-size="24px">Aug 12, 2018</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 1870.595 188.7526)" fill="#9F3C71" font-family='Gotham Book'font-size="24px">record(s)</text>
                    </g>
                    <rect x="1815.9" y="91.6" fill="#9F3C71" width="77.8" height="7.1"/>
                </g>
                </svg>
    </div>
    <div>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 2060 244" enable-background="new 0 0 2060 244" xml:space="preserve">
                <g>
                    <path fill="none" stroke="#F36F21" stroke-width="4" stroke-miterlimit="10" d="M659.2,232.7H374.9c-9.1,0-15.3-9.1-12.1-17.6   l33.6-87.8c1.1-3,1.1-6.3,0-9.2l-33.6-87.8c-3.2-8.5,3-17.6,12.1-17.6h284.3c5.4,0,10.2,3.3,12.1,8.3l37.1,97.1   c1.1,3,1.1,6.3,0,9.2l-37.1,97.1C669.4,229.4,664.6,232.7,659.2,232.7z"/>
                    <g>
                        <text transform="matrix(1 0 0 1 421.8167 73.2203)" fill="#F36F21" font-family='Gotham Bold' font-size="36px">Pending</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 421.8168 190.2203)" fill="#F36F21" font-family='Gotham Bold' font-size="48px">3</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 421.817 132.7628)" fill="#F36F21" font-family='Gotham Book'font-size="24px">Aug 12, 2018</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 454.817 191.2629)" fill="#F36F21" font-family='Gotham Book'font-size="24px">record(s)</text>
                    </g>
                    <rect x="425.1" y="93" fill="#F36F21" width="77.8" height="7.1"/>
                </g>
                <g>
                    <path fill="#51B848" d="M2038.6,231.7h-286.1c-7.1,0-12.9-5.8-12.9-12.9V24.7c0-7.1,5.8-12.9,12.9-12.9h286.1   c7.1,0,12.9,5.8,12.9,12.9v194.1C2051.6,225.9,2045.8,231.7,2038.6,231.7z"/>
                    <g>
                        <text transform="matrix(1 0 0 1 1774.2899 73.2628)" fill="#FFFFFF" font-family='Gotham Bold' font-size="36px">Rejected</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 1774.29 190.2628)" fill="#FFFFFF" font-family='Gotham Bold' font-size="48px">2</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 1774.29 132.8054)" fill="#FFFFFF" font-family='Gotham Book'font-size="24px">Aug 12, 2018</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 1809.2902 190.2624)" fill="#FFFFFF" font-family='Gotham Book'font-size="24px">record(s)</text>
                    </g>
                    <rect x="1777.6" y="93.1" fill="#FFFFFF" width="77.8" height="7.1"/>
                </g>
                <g>
                    <path fill="none" stroke="#EF434E" stroke-width="4" stroke-miterlimit="10" d="M311.9,12.7H21.8c-7.1,0-12.9,5.8-12.9,12.9v194.1   c0,7.1,5.8,12.9,12.9,12.9h290.2c5.4,0,10.2-3.3,12.1-8.3l37.1-97.1c1.1-3,1.1-6.3,0-9.2L324,21.1   C322.1,16.1,317.3,12.7,311.9,12.7z"/>
                    <g>
                        <text transform="matrix(1 0 0 1 45.5319 73.2201)" fill="#EF434E" font-family='Gotham Bold' font-size="36px">Rejected</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 45.532 190.2201)" fill="#EF434E" font-family='Gotham Bold' font-size="48px">12</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 45.5321 132.7626)" fill="#EF434E" font-family='Gotham Book'font-size="24px">Aug 12, 2018</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 103.5322 190.2202)" fill="#EF434E" font-family='Gotham Book'font-size="24px">record(s)</text>
                    </g>
                    <rect x="48.9" y="93" fill="#EF434E" width="77.8" height="7.1"/>
                </g>
                <g>
                    <path fill="none" stroke="#9F3C71" stroke-width="4" stroke-miterlimit="10" d="M1707,232h-290.3c-9.1,0-15.3-9.1-12.1-17.6   l33.6-87.8c1.1-3,1.1-6.3,0-9.2l-33.6-87.8c-3.2-8.5,3-17.6,12.1-17.6H1707c1.3,0,2.5,1.2,3.3,3.3c0.6,1.4,0.8,3,0.8,4.5v204.4   c0,1.5-0.2,3.1-0.8,4.5C1709.4,230.8,1708.2,232,1707,232z"/>
                    <g>
                        <text transform="matrix(1 0 0 1 1464.616 73.5325)" fill="#9F3C71" font-family='Gotham Bold' font-size="36px">Disbursed</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 1464.6161 190.5325)" fill="#9F3C71" font-family='Gotham Bold' font-size="48px">12</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 1464.6162 133.075)" fill="#9F3C71" font-family='Gotham Book'font-size="24px">Aug 12, 2018</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 1522.6162 190.5325)" fill="#9F3C71" font-family='Gotham Book'font-size="24px">record(s)</text>
                    </g>
                    <rect x="1467.9" y="93.3" fill="#9F3C71" width="77.8" height="7.1"/>
                </g>
                <g>
                    <path fill="none" stroke="#F36F21" stroke-width="4" stroke-miterlimit="10" d="M1006.5,232.7H722.2c-9.1,0-15.3-9.1-12.1-17.6   l33.6-87.8c1.1-3,1.1-6.3,0-9.2l-33.6-87.8c-3.2-8.5,3-17.6,12.1-17.6h284.3c5.4,0,10.2,3.3,12.1,8.3l37.1,97.1   c1.1,3,1.1,6.3,0,9.2l-37.1,97.1C1016.6,229.4,1011.8,232.7,1006.5,232.7z"/>
                    <g>
                        <text transform="matrix(1 0 0 1 769.0834 73.2203)" fill="#F36F21" font-family='Gotham Bold' font-size="36px">Pending</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 769.0834 190.2204)" fill="#F36F21" font-family='Gotham Bold' font-size="48px">3</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 769.0835 132.7628)" fill="#F36F21" font-family='Gotham Book'font-size="24px">Aug 12, 2018</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 802.0836 191.2629)" fill="#F36F21" font-family='Gotham Book'font-size="24px">record(s)</text>
                    </g>
                    <rect x="772.4" y="93" fill="#F36F21" width="77.8" height="7.1"/>
                </g>
                <g>
                    <path fill="none" stroke="#F36F21" stroke-width="4" stroke-miterlimit="10" d="M1353.7,232h-284.3c-9.1,0-15.3-9.1-12.1-17.6   l33.6-87.8c1.1-3,1.1-6.3,0-9.2l-33.6-87.8c-3.2-8.5,3-17.6,12.1-17.6h284.3c5.4,0,10.2,3.3,12.1,8.3l37.1,97.1   c1.1,3,1.1,6.3,0,9.2l-37.1,97.1C1363.9,228.7,1359.1,232,1353.7,232z"/>
                    <g>
                        <text transform="matrix(1 0 0 1 1116.3499 72.4903)" fill="#F36F21" font-family='Gotham Bold' font-size="36px">Pending</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 1116.35 189.4903)" fill="#F36F21" font-family='Gotham Bold' font-size="48px">3</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 1116.3501 132.0328)" fill="#F36F21" font-family='Gotham Book'font-size="24px">Aug 12, 2018</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 1149.3501 190.5329)" fill="#F36F21" font-family='Gotham Book'font-size="24px">record(s)</text>
                    </g>
                    <rect x="1119.7" y="92.3" fill="#F36F21" width="77.8" height="7.1"/>
                </g>
                </svg>
    </div>

</section>