<section>
    <div class="title">
        <i class="fa fa-caret-square-o-right" aria-hidden="true"></i>
        <h4 style="display:inline-block">summary block</h4>
    </div>
    <div>
        <svg version="1.1" id="Layer_1" xmlns:x="&ns_extend;" xmlns:i="&ns_ai;" xmlns:graph="&ns_graphs;"
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1152 648"
        enable-background="new 0 0 1152 648" xml:space="preserve">
       
       <g transform="translate(-100,-350)" class="summaryblock">
           <g class="parent">
               <path id="summaryblock1" fill="#F7941E" d="M258.9,564.1H117.1c-7,0-12.6-5.6-12.6-12.6v-103c0-7,5.6-12.6,12.6-12.6h141.8c4.2,0,8.2,2.1,10.5,5.7
                   l34,51.5c2.8,4.2,2.8,9.7,0,13.9l-34,51.5C267.1,562,263.1,564.1,258.9,564.1z"/>
               <text transform="matrix(0.9375 0 0 1 180.3415 509.4644)" fill="#FFFFFF" font-family="'Gotham-Bold'" font-size="44.25px">0</text>
           </g>
           <g class="parent">
               <path id="summaryblock2" fill="none" stroke="#F7941E" stroke-width="2" stroke-miterlimit="10" d="M439.9,441.5c-2.3-3.5-6.3-5.7-10.5-5.7H275v0.9
                   l37.2,56.3c2.8,4.2,2.8,9.7,0,13.9L275,563.2v0.9h154.4c4.2,0,8.2-2.1,10.5-5.7l34-51.5c2.8-4.2,2.8-9.7,0-13.9L439.9,441.5z"/>
               <g>
                   <text transform="matrix(1 0 0 1 369.7581 509.464)" fill="#F7941E" font-family="'Gotham-Bold'" font-size="44.25px">1</text>
               </g>
           </g>
           <g class="parent">
               <path id="summaryblock3" fill="#F7941E" d="M610.4,441.5c-2.3-3.5-6.3-5.7-10.5-5.7H445.4v0.9l37.2,56.3c2.8,4.2,2.8,9.7,0,13.9l-37.2,56.3v0.9h154.4
                   c4.2,0,8.2-2.1,10.5-5.7l34-51.5c2.8-4.2,2.8-9.7,0-13.9L610.4,441.5z"/>
               <g>
                   <text transform="matrix(1 0 0 1 538.8967 509.4643)" fill="#FFFFFF" font-family="'Gotham-Bold'" font-size="44.25px">3</text>
               </g>
           </g>
           <g class="parent">
               <path id="summaryblock4" fill="#F7941E" d="M780.8,441.5c-2.3-3.5-6.3-5.7-10.5-5.7H615.9v0.9l37.2,56.3c2.8,4.2,2.8,9.7,0,13.9l-37.2,56.3v0.9h154.4
                   c4.2,0,8.2-2.1,10.5-5.7l34-51.5c2.8-4.2,2.8-9.7,0-13.9L780.8,441.5z"/>
               <g>
                   <text transform="matrix(1 0 0 1 710.6614 509.4642)" fill="#FFFFFF" font-family="'Gotham-Bold'" font-size="44.25px">4</text>
               </g>
           </g>
           <g class="parent">
               <path id="summaryblock5" fill="#F7941E" d="M951.3,441.5c-2.3-3.5-6.3-5.7-10.5-5.7H786.4v0.9l37.2,56.3c2.8,4.2,2.8,9.7,0,13.9l-37.2,56.3v0.9h154.4
                   c4.2,0,8.2-2.1,10.5-5.7l34-51.5c2.8-4.2,2.8-9.7,0-13.9L951.3,441.5z"/>
               <g>
                   <text transform="matrix(1 0 0 1 871.8379 509.4641)" fill="#FFFFFF" font-family="'Gotham-Bold'" font-size="44.25px">5</text>
               </g>
           </g>
           <g class="parent">
               <path id="summaryblock6" fill="#F7941E" d="M1118.8,448.5c0-7-5.6-12.6-12.6-12.6H957.6v0.9l37.2,56.3c2.8,4.2,2.8,9.7,0,13.9l-37.2,56.3v0.9h148.6
                   c7,0,12.6-5.6,12.6-12.6V448.5z"/>
               <g>
                   <text transform="matrix(1 0 0 1 1042.4261 509.4645)" fill="#FFFFFF" font-family="'Gotham-Bold'" font-size="44.25px">6</text>
               </g>
           </g>
       </g>
       </svg>
    </div>
</section>