{% load static %}
{% load staticfiles %}

<section>
    <div class="title">
        <i class="fa fa-caret-square-o-right" aria-hidden="true"></i>
        <h4 style="display:inline-block">summary block</h4>
    </div>
    <!-- Summary block old-->
    <!-- <div>
        <svg version="1.1" id="Layer_1" xmlns:x="&ns_extend;" xmlns:i="&ns_ai;" xmlns:graph="&ns_graphs;"
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1152 648"
        enable-background="new 0 0 1152 648" xml:space="preserve">
       
       <g transform="translate(-100,-350)" class="summaryblock">
           <g class="parent">
               <path id="summaryblock1" fill="#F7941E" d="M258.9,564.1H117.1c-7,0-12.6-5.6-12.6-12.6v-103c0-7,5.6-12.6,12.6-12.6h141.8c4.2,0,8.2,2.1,10.5,5.7
                   l34,51.5c2.8,4.2,2.8,9.7,0,13.9l-34,51.5C267.1,562,263.1,564.1,258.9,564.1z"/>
               <text transform="matrix(0.9375 0 0 1 180.3415 509.4644)" font-family='Gotham Bold' font-size="44.25px">0</text>
           </g>
           <g class="parent">
               <path id="summaryblock2" fill="none" stroke="#F7941E" stroke-width="2" stroke-miterlimit="10" d="M439.9,441.5c-2.3-3.5-6.3-5.7-10.5-5.7H275v0.9
                   l37.2,56.3c2.8,4.2,2.8,9.7,0,13.9L275,563.2v0.9h154.4c4.2,0,8.2-2.1,10.5-5.7l34-51.5c2.8-4.2,2.8-9.7,0-13.9L439.9,441.5z"/>
               <g>
                   <text transform="matrix(1 0 0 1 369.7581 509.464)" fill="#F7941E" font-family='Gotham Bold' font-size="44.25px">1</text>
               </g>
           </g>
           <g class="parent">
               <path id="summaryblock3" fill="#F7941E" d="M610.4,441.5c-2.3-3.5-6.3-5.7-10.5-5.7H445.4v0.9l37.2,56.3c2.8,4.2,2.8,9.7,0,13.9l-37.2,56.3v0.9h154.4
                   c4.2,0,8.2-2.1,10.5-5.7l34-51.5c2.8-4.2,2.8-9.7,0-13.9L610.4,441.5z"/>
               <g>
                   <text transform="matrix(1 0 0 1 538.8967 509.4643)" font-family='Gotham Bold' font-size="44.25px">3</text>
               </g>
           </g>
           <g class="parent">
               <path id="summaryblock4" fill="#F7941E" d="M780.8,441.5c-2.3-3.5-6.3-5.7-10.5-5.7H615.9v0.9l37.2,56.3c2.8,4.2,2.8,9.7,0,13.9l-37.2,56.3v0.9h154.4
                   c4.2,0,8.2-2.1,10.5-5.7l34-51.5c2.8-4.2,2.8-9.7,0-13.9L780.8,441.5z"/>
               <g>
                   <text transform="matrix(1 0 0 1 710.6614 509.4642)" font-family='Gotham Bold' font-size="44.25px">4</text>
               </g>
           </g>
           <g class="parent">
               <path id="summaryblock5" fill="#F7941E" d="M951.3,441.5c-2.3-3.5-6.3-5.7-10.5-5.7H786.4v0.9l37.2,56.3c2.8,4.2,2.8,9.7,0,13.9l-37.2,56.3v0.9h154.4
                   c4.2,0,8.2-2.1,10.5-5.7l34-51.5c2.8-4.2,2.8-9.7,0-13.9L951.3,441.5z"/>
               <g>
                   <text transform="matrix(1 0 0 1 871.8379 509.4641)" font-family='Gotham Bold' font-size="44.25px">5</text>
               </g>
           </g>
           <g class="parent">
               <path id="summaryblock6" fill="#F7941E" d="M1118.8,448.5c0-7-5.6-12.6-12.6-12.6H957.6v0.9l37.2,56.3c2.8,4.2,2.8,9.7,0,13.9l-37.2,56.3v0.9h148.6
                   c7,0,12.6-5.6,12.6-12.6V448.5z"/>
               <g>
                   <text transform="matrix(1 0 0 1 1042.4261 509.4645)" font-family='Gotham Bold' font-size="44.25px">6</text>
               </g>
           </g>
       </g>
       </svg>
    </div> -->
    <div class="sb">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 1306 113.7" enable-background="new 0 0 1306 113.7" xml:space="preserve">
            <g class="sb-item">
                <path class="sb-square" d="M1297.1,105.2H996.9c-3.3,0-5.9-2.6-5.9-5.9V14.4c0-3.3,2.6-5.9,5.9-5.9h300.2c3.3,0,5.9,2.6,5.9,5.9v84.9   C1303,102.5,1300.4,105.2,1297.1,105.2z"/>
                <text transform="matrix(1 0 0 1 1018.8809 63.9512)" font-family='Gotham Bold' font-size="24px">Sent</text>
                <text transform="matrix(1 0 0 1 1143.9319 63.6163)" font-family='Gotham Book' font-size="24px">2 records(s)   </text>
            </g>
            <g class="sb-item">
                <path class="sb-center" stroke-miterlimit="10" d="M639,105.2H336.7c-3.2,0-5.4-3.3-4.1-6.3l17.5-40.3c0.5-1.1,0.5-2.4,0-3.6l-17.5-40.3   c-1.3-3,0.9-6.3,4.1-6.3H639c1.8,0,3.4,1.1,4.1,2.7L662.1,55c0.5,1.1,0.5,2.4,0,3.6l-19.1,43.9C642.4,104.1,640.8,105.2,639,105.2z   "/>
                <text transform="matrix(1 0 0 1 367.4923 63.9512)" font-family='Gotham Bold' font-size="24px">Pending</text>
                <text transform="matrix(1 0 0 1 492.5434 63.6163)" font-family='Gotham Book' font-size="24px">2 records(s)   </text>
            </g>
            <g class="sb-item">
                <path class="sb-first" d="M308.7,105.2H6.5c-3.2,0-5.4-3.3-4.1-6.3V14.8c-1.3-3,0.9-6.3,4.1-6.3h302.2c1.8,0,3.4,1.1,4.1,2.7   L331.9,55c0.5,1.1,0.5,2.4,0,3.6l-19.1,43.9C312.1,104.1,310.5,105.2,308.7,105.2z"/>
                <text transform="matrix(1 0 0 1 37.2379 63.9512)" font-family='Gotham Bold' font-size="24px">Rejected</text>
                <text transform="matrix(1 0 0 1 162.289 63.6163)" font-family='Gotham Book' font-size="24px">2 records(s)   </text>
            </g>
            <g class="sb-item">
                <path class="sb-last" d="M969.2,105.2H667c-3.2,0-5.4-3.3-4.1-6.3l17.5-40.3c0.5-1.1,0.5-2.4,0-3.6l-17.5-40.3   c-1.3-3,0.9-6.3,4.1-6.3h302.2c1.8,0,3.4,1.1,4.1,2.7v91.3C972.6,104.1,971,105.2,969.2,105.2z"/>
                <text transform="matrix(1 0 0 1 697.7467 63.9512)" font-family='Gotham Bold' font-size="24px">Abort</text>
                <text transform="matrix(1 0 0 1 822.7978 63.6163)" font-family='Gotham Book' font-size="24px">2 records(s)   </text>
            </g>
        </svg>
    </div>
    <div>
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="-2px" y="0px"
            viewBox="0 0 978.6 105.2" enable-background="new 0 0 978.6 105.2" xml:space="preserve">
        <g class="sb-item">
            <path class="sb-center" d="M641,102.2H338.7c-3.2,0-5.4-3.3-4.1-6.3l17.5-40.3c0.5-1.1,0.5-2.4,0-3.6l-17.5-40.3
                c-1.3-3,0.9-6.3,4.1-6.3H641c1.8,0,3.4,1.1,4.1,2.7L664.1,52c0.5,1.1,0.5,2.4,0,3.6l-19.1,43.9C644.4,101.1,642.8,102.2,641,102.2z
                "/>
            <text transform="matrix(1 0 0 1 369.4923 60.9512)" font-family='Gotham Bold' font-size="24px">Pending</text>
            <text transform="matrix(1 0 0 1 494.5434 60.6163)" font-family='Gotham Book' font-size="24px">2 records(s)   </text>
        </g>
        <g class="sb-item">
            <path class="sb-first" d="M310.7,102.2H8.5c-3.2,0-5.4-3.3-4.1-6.3V11.8c-1.3-3,0.9-6.3,4.1-6.3h302.2c1.8,0,3.4,1.1,4.1,2.7
                L333.9,52c0.5,1.1,0.5,2.4,0,3.6l-19.1,43.9C314.1,101.1,312.5,102.2,310.7,102.2z"/>
            <text transform="matrix(1 0 0 1 39.2379 60.9512)" font-family='Gotham Bold' font-size="24px">Rejected</text>
            <text transform="matrix(1 0 0 1 164.289 60.6163)" font-family='Gotham Book' font-size="24px">2 records(s)   </text>
        </g>
        <g class="sb-item">
            <path class="sb-last" d="M971.2,102.2H669c-3.2,0-5.4-3.3-4.1-6.3l17.5-40.3c0.5-1.1,0.5-2.4,0-3.6l-17.5-40.3
                c-1.3-3,0.9-6.3,4.1-6.3h302.2c1.8,0,3.4,1.1,4.1,2.7v91.3C974.6,101.1,973,102.2,971.2,102.2z"/>
            <text transform="matrix(1 0 0 1 699.7467 60.9512)" font-family='Gotham Bold' font-size="24px">Abort</text>
            <text transform="matrix(1 0 0 1 824.7978 60.6163)" font-family='Gotham Book' font-size="24px">2 records(s)   </text>
        </g>
        </svg>
    </div>
    <div>
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 1959.7 113.7" enable-background="new 0 0 1959.7 113.7" xml:space="preserve">
            <g class="sb-item">
                <path class="sb-square" d="M1294.1,105.2H993.9c-3.3,0-5.9-2.6-5.9-5.9V14.4c0-3.3,2.6-5.9,5.9-5.9h300.2c3.3,0,5.9,2.6,5.9,5.9v84.9
                    C1300,102.5,1297.4,105.2,1294.1,105.2z"/>
                <text transform="matrix(1 0 0 1 1015.8809 63.9512)" font-family='Gotham Bold' font-size="24px">Sent</text>
                <text transform="matrix(1 0 0 1 1140.9319 63.6163)" font-family='Gotham Book' font-size="24px">2 records(s)   </text>
            </g>
            <g class="sb-item">
                <path class="sb-center" d="M640,105.2H337.7c-3.2,0-5.4-3.3-4.1-6.3l17.5-40.3c0.5-1.1,0.5-2.4,0-3.6l-17.5-40.3
                    c-1.3-3,0.9-6.3,4.1-6.3H640c1.8,0,3.4,1.1,4.1,2.7L663.1,55c0.5,1.1,0.5,2.4,0,3.6l-19.1,43.9C643.4,104.1,641.8,105.2,640,105.2z
                    "/>
                <text transform="matrix(1 0 0 1 368.4923 63.9512)" font-family='Gotham Bold' font-size="24px">Pending</text>
                <text transform="matrix(1 0 0 1 493.5434 63.6163)" font-family='Gotham Book' font-size="24px">2 records(s)   </text>
            </g>
            <g class="sb-item">
                <path class="sb-first" d="M309.7,105.2H7.5c-3.2,0-5.4-3.3-4.1-6.3V14.8c-1.3-3,0.9-6.3,4.1-6.3h302.2c1.8,0,3.4,1.1,4.1,2.7
                    L332.9,55c0.5,1.1,0.5,2.4,0,3.6l-19.1,43.9C313.1,104.1,311.5,105.2,309.7,105.2z"/>
                <text transform="matrix(1 0 0 1 38.2379 63.9512)" font-family='Gotham Bold' font-size="24px">Rejected</text>
                <text transform="matrix(1 0 0 1 163.289 63.6163)" font-family='Gotham Book' font-size="24px">2 records(s)   </text>
            </g>
            <g class="sb-item">
                <path class="sb-last" d="M970.2,105.2H668c-3.2,0-5.4-3.3-4.1-6.3l17.5-40.3c0.5-1.1,0.5-2.4,0-3.6l-17.5-40.3
                    c-1.3-3,0.9-6.3,4.1-6.3h302.2c1.8,0,3.4,1.1,4.1,2.7v91.3C973.6,104.1,972,105.2,970.2,105.2z"/>
                <text transform="matrix(1 0 0 1 698.7467 63.9512)" font-family='Gotham Bold' font-size="24px">Abort</text>
                <text transform="matrix(1 0 0 1 823.7978 63.6163)" font-family='Gotham Book' font-size="24px">2 records(s)   </text>
            </g>
            <g class="sb-item">
                <path class="sb-first" d="M1620.1,105.2h-302.2c-3.2,0-5.4-3.3-4.1-6.3V14.8c-1.3-3,0.9-6.3,4.1-6.3h302.2c1.8,0,3.4,1.1,4.1,2.7
                    l19.1,43.9c0.5,1.1,0.5,2.4,0,3.6l-19.1,43.9C1623.5,104.1,1621.9,105.2,1620.1,105.2z"/>
                <text transform="matrix(1 0 0 1 1348.6412 63.9512)" font-family='Gotham Bold' font-size="24px">Rejected</text>
                <text transform="matrix(1 0 0 1 1473.6923 63.6163)" font-family='Gotham Book' font-size="24px">2 records(s)   </text>
            </g>
            <g class="sb-item">
                <path class="sb-last" d="M1950.4,105.2h-302.2c-3.2,0-5.4-3.3-4.1-6.3l17.5-40.3c0.5-1.1,0.5-2.4,0-3.6L1644,14.8
                    c-1.3-3,0.9-6.3,4.1-6.3h302.2c1.8,0,3.4,1.1,4.1,2.7v91.3C1953.8,104.1,1952.2,105.2,1950.4,105.2z"/>
                <text transform="matrix(1 0 0 1 1678.8956 63.9512)" font-family='Gotham Bold' font-size="24px">Abort</text>
                <text transform="matrix(1 0 0 1 1803.9467 63.6163)" font-family='Gotham Book' font-size="24px">2 records(s)   </text>
            </g>
        </svg>

    </div>
</section>