<div class="title">
    <span><i class="fa fa-info" aria-hidden="true"></i></span>
    <h4 style="display:inline-block">TYPOGRAPHY</h4>
</div>
<div class="content">
        For typography, we use our font-company Gotham. But we insert some font style in font-family, embed from google-font.  here are the font-family, Gotham, Monsterrat, Arial.
</div>

<h1>
    H1 Header
</h1>
<div class="font-details">
    Gotham Bold / 36px / Uppercase / line space 42
</div>
<h2>
    H2 Preheader/title
</h2>
<div class="font-details">
    Gotham Bold / 24px / Uppercase / line space 28
</div>
<h3>
    h3 Preheader/title
</h3>
<div class="font-details">
    Gotham Bold / 18px / Uppercase / line space 26
</div>
<h4>
    h4 Preheader/title
</h4>
<div class="font-details">
    Gotham Bold / 14px / Uppercase / line space 20
</div>
<div class="content">
    Content
</div>
<div class="font-details">
    Gotham Book / 12px / line space 18
</div>
<div class="detail-info">
    Label and Detail Information
</div>
<div class="font-details">
    Gotham Book / 10px / line space 18
</div>
<div class="btn-label">
    button attribute
</div>
<div class="font-details">
    Gotham Medium / 14px / Uppercase / line space 20
</div>
<div class="sidebar__content">
    navigation side bar
</div>
<div class="font-details">
    Gotham Book / 11px / Uppercase / line space 20
</div>