<div class="title">
    <span><i class="fa fa-tint" aria-hidden="true"></i></span>
    <h4 style="display:inline-block">Color Pallete</h4>
</div>
<div class="content">
    <b>
        PRIMARY CONTENT COLOR
    </b>
</div>
<div class="color_example">
    <div class="card">
        <div class="card__content bgcolor--blue"></div>
        <div class="card__description">
            <h4>#42A5CE</h4>
            <div class="content">Blue</div>
        </div>
    </div>
    <div class="card">
        <div class="card__content bgcolor--black"></div>
        <div class="card__description">
            <h4>#333133</h4>
            <div class="content">Black</div>
        </div>
    </div>
    <div class="card">
        <div class="card__content bgcolor--grey"></div>
        <div class="card__description">
            <h4>#E2E2E2</h4>
            <div class="content">Grey</div>
        </div>
    </div>
    <div class="card">
        <div class="card__content bgcolor--white"></div>
        <div class="card__description">
            <h4>#FFFFFF</h4>
            <div class="content">White</div>
        </div>
    </div>
</div>
<div class="content">
    <b>
        SECONDARY CONTENT COLOR
    </b>
</div>
<div class="color_example">
    <div class="card">
        <div class="card__content bgcolor--darkblue"></div>
        <div class="card__description">
            <h4>#28708e</h4>
            <div class="content">Dark Blue</div>
        </div>
    </div>
    <div class="card">
        <div class="card__content bgcolor--boldblack"></div>
        <div class="card__description">
            <h4>#000000</h4>
            <div class="content">Bold Black</div>
        </div>
    </div>
    <div class="card">
        <div class="card__content bgcolor--darkgrey"></div>
        <div class="card__description">
            <h4>#808285</h4>
            <div class="content">Dark Grey</div>
        </div>
    </div>
</div>
<div class="color_example">
    <div class="card">
        <div class="card__content bgcolor--green"></div>
        <div class="card__description">
            <h4>#4DB356</h4>
            <div class="content">Green</div>
        </div>
    </div>
    <div class="card">
        <div class="card__content bgcolor--red"></div>
        <div class="card__description">
            <h4>#D2232B</h4>
            <div class="content">Red</div>
        </div>
    </div>
    <div class="card">
        <div class="card__content bgcolor--orange"></div>
        <div class="card__description">
            <h4>#F89B24</h4>
            <div class="content">Orange</div>
        </div>
    </div>
    <div class="card">
        <div class="card__content bgcolor--yellow"></div>
        <div class="card__description">
            <h4>#FFEB3B</h4>
            <div class="content">Yellow</div>
        </div>
    </div>
    <div class="card">
        <div class="card__content bgcolor--purple"></div>
        <div class="card__description">
            <h4>#890C4F</h4>
            <div class="content">Purple</div>
        </div>
    </div>
</div>