{% load static %}
{% load staticfiles %}
<!--Menu Data-->
<div id="wrapper"  class=" wrapper scrollbar-macosx of_none">
    <div class="menu-head">
        <a href="#"  class="btn-jojo-product" id="menu-toggles">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </a>
        <!-- Jojonomic Logo -->
        <div class="logo-container">

            <img class="" src="{% static '/img/jojonomic_logo.png' %}">
        </div>
        <div class=" jojo-icon"></div>
    </div>

    <!-- Sidebar -->
    <div id="sidebar-wrapper" class="menugraphy ">
        <div class="row" id="menu-product">


            <div class="product" >
                <a href="http://localhost/jojonomic/jojopro/public/reimbursement/home">
                    <div class="product-icon-mobile jojo-expense" onmouseover="tooltip.pop(this, 'JojoExpense', {position:1, offsetX:-25, effect:'slide'})"></div>
                    <div class="product-icon jojo-expense" ></div>
                    <p class="product-label">JojoExpense</p>
                </a>
            </div>



            <div class="product">
                <a href="http://localhost/jojonomic/jojopro/public/times/home">
                    <div class="product-icon-mobile jojo-times" onmouseover="tooltip.pop(this, 'JojoAttendance', {position:1, offsetX:-25, effect:'slide'})"></div>
                    <div class="product-icon jojo-times"></div>
                    <p class="product-label">JojoTimes</p>
                </a>
            </div>

            <div class="product">
                <a href="http://localhost/jojonomic/jojopro/public/procurement/home">
                    <div class="product-icon-mobile jojo-procurement" onmouseover="tooltip.pop(this, 'JojoProcurement', {position:1, offsetX:-25, effect:'slide'})"></div>
                    <div class="product-icon jojo-procurement"></div>
                    <p class="product-label">JojoProcure</p>
                </a>
            </div>


        </div>

        <input type="hidden" id="active_product" value="guide">
        <ul class="sidebar-nav menu  blur-act wrapper" id="menu">

            <div class="panel" >
                <li data-toggle="collapse" data-parent="#menu" data-target="#setup-head" class="collapsed menu ">
                    <div class="sidebar-icon icon-hover claimer-icon"
                         onmouseover="tooltip.pop(this, '#setup-tooltip', {position:1, offsetX:-5, effect:'slide'})"></div>
                    <a href="#" class="dropdown-link">
                        <div class="sidebar-icon claimer-icon"></div>
                        Setup                        </a>
                    <span class="arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                </li>

                <ul id="setup-head" class="collapse sub-menu">

                    <div class="panel">
                        <li class="menu" id="tools">

                            <div class="sidebar-icon icon-hover category-icon"
                                 onmouseover="tooltip.pop(this, '#tools-tooltip', {position:1, offsetX:-5, effect:'slide'})"></div>
                            <a href="http://localhost/jojonomic/jojopro/public/jojo-example/setup/tools">
                                <div class="sidebar-icon category-icon"></div>
                                Tools                </a>
                        </li>
                    </div>


                    <div class="panel">
                        <li class="menu" id="cloning">

                            <div class="sidebar-icon icon-hover category-icon"
                                 onmouseover="tooltip.pop(this, '#cloning-tooltip', {position:1, offsetX:-5, effect:'slide'})"></div>
                            <a href="http://localhost/jojonomic/jojopro/public/jojo-example/setup/cloning">
                                <div class="sidebar-icon category-icon"></div>
                                Cloning                </a>
                        </li>
                    </div>


                    <div class="panel">
                        <li class="menu" id="branching">

                            <div class="sidebar-icon icon-hover category-icon"
                                 onmouseover="tooltip.pop(this, '#branching-tooltip', {position:1, offsetX:-5, effect:'slide'})"></div>
                            <a href="http://localhost/jojonomic/jojopro/public/jojo-example/setup/branching">
                                <div class="sidebar-icon category-icon"></div>
                                Branching                </a>
                        </li>
                    </div>

                </ul>
            </div>
            <div class="panel" >
                <li data-toggle="collapse" data-parent="#menu" data-target="#design-pattern-head" class="collapsed menu ">
                    <div class="sidebar-icon icon-hover claimer-icon"
                         onmouseover="tooltip.pop(this, '#design-pattern-tooltip', {position:1, offsetX:-5, effect:'slide'})"></div>
                    <a href="#" class="dropdown-link">
                        <div class="sidebar-icon claimer-icon"></div>
                        Design Pattern                        </a>
                    <span class="arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                </li>

                <ul id="design-pattern-head" class="collapse sub-menu">

                    <div class="panel">
                        <li class="menu" id="mapping">

                            <div class="sidebar-icon icon-hover category-icon"
                                 onmouseover="tooltip.pop(this, '#mapping-tooltip', {position:1, offsetX:-5, effect:'slide'})"></div>
                            <a href="http://localhost/jojonomic/jojopro/public/jojo-example/design-pattern/mapping">
                                <div class="sidebar-icon category-icon"></div>
                                Mapping                </a>
                        </li>
                    </div>


                    <div class="panel">
                        <li class="menu" id="naming">

                            <div class="sidebar-icon icon-hover category-icon"
                                 onmouseover="tooltip.pop(this, '#naming-tooltip', {position:1, offsetX:-5, effect:'slide'})"></div>
                            <a href="http://localhost/jojonomic/jojopro/public/jojo-example/design-pattern/naming">
                                <div class="sidebar-icon category-icon"></div>
                                Naming                </a>
                        </li>
                    </div>


                    <div class="panel">
                        <li class="menu" id="routing">

                            <div class="sidebar-icon icon-hover category-icon"
                                 onmouseover="tooltip.pop(this, '#routing-tooltip', {position:1, offsetX:-5, effect:'slide'})"></div>
                            <a href="http://localhost/jojonomic/jojopro/public/jojo-example/design-pattern/routing">
                                <div class="sidebar-icon category-icon"></div>
                                Routing                </a>
                        </li>
                    </div>


                    <div class="panel">
                        <li class="menu" id="api">

                            <div class="sidebar-icon icon-hover category-icon"
                                 onmouseover="tooltip.pop(this, '#api-tooltip', {position:1, offsetX:-5, effect:'slide'})"></div>
                            <a href="http://localhost/jojonomic/jojopro/public/jojo-example/design-pattern/api">
                                <div class="sidebar-icon category-icon"></div>
                                API                </a>
                        </li>
                    </div>


                    <div class="panel">
                        <li class="menu" id="general">

                            <div class="sidebar-icon icon-hover category-icon"
                                 onmouseover="tooltip.pop(this, '#general-tooltip', {position:1, offsetX:-5, effect:'slide'})"></div>
                            <a href="http://localhost/jojonomic/jojopro/public/jojo-example/design-pattern/general">
                                <div class="sidebar-icon category-icon"></div>
                                General                </a>
                        </li>
                    </div>

                </ul>
            </div>
            <div class="panel" >
                <li data-toggle="collapse" data-parent="#menu" data-target="#ui-element-head" class="collapsed menu ">
                    <div class="sidebar-icon icon-hover claimer-icon"
                         onmouseover="tooltip.pop(this, '#ui-element-tooltip', {position:1, offsetX:-5, effect:'slide'})"></div>
                    <a href="#" class="dropdown-link">
                        <div class="sidebar-icon claimer-icon"></div>
                        Component                        </a>
                    <span class="arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                </li>

                <ul id="ui-element-head" class="collapse sub-menu">

                    <div class="panel">
                        <li class="menu" id="general">

                            <div class="sidebar-icon icon-hover category-icon"
                                 onmouseover="tooltip.pop(this, '#general-tooltip', {position:1, offsetX:-5, effect:'slide'})"></div>
                            <a href="http://localhost/jojonomic/jojopro/public/jojo-example/ui/general">
                                <div class="sidebar-icon category-icon"></div>
                                General                </a>
                        </li>
                    </div>


                    <div class="panel">
                        <li class="menu" id="grid">

                            <div class="sidebar-icon icon-hover category-icon"
                                 onmouseover="tooltip.pop(this, '#grid-tooltip', {position:1, offsetX:-5, effect:'slide'})"></div>
                            <a href="http://localhost/jojonomic/jojopro/public/jojo-example/ui/grid">
                                <div class="sidebar-icon category-icon"></div>
                                Grid                </a>
                        </li>
                    </div>


                    <div class="panel">
                        <li class="menu" id="typography">

                            <div class="sidebar-icon icon-hover category-icon"
                                 onmouseover="tooltip.pop(this, '#typography-tooltip', {position:1, offsetX:-5, effect:'slide'})"></div>
                            <a href="http://localhost/jojonomic/jojopro/public/jojo-example/ui/typography">
                                <div class="sidebar-icon category-icon"></div>
                                Typography                </a>
                        </li>
                    </div>


                    <div class="panel">
                        <li class="menu" id="icon">

                            <div class="sidebar-icon icon-hover category-icon"
                                 onmouseover="tooltip.pop(this, '#icon-tooltip', {position:1, offsetX:-5, effect:'slide'})"></div>
                            <a href="http://localhost/jojonomic/jojopro/public/jojo-example/ui/icon">
                                <div class="sidebar-icon category-icon"></div>
                                Icon                </a>
                        </li>
                    </div>


                    <div class="panel">
                        <li class="menu" id="color">

                            <div class="sidebar-icon icon-hover category-icon"
                                 onmouseover="tooltip.pop(this, '#color-tooltip', {position:1, offsetX:-5, effect:'slide'})"></div>
                            <a href="http://localhost/jojonomic/jojopro/public/jojo-example/ui/color">
                                <div class="sidebar-icon category-icon"></div>
                                Color                </a>
                        </li>
                    </div>


                    <div class="panel">
                        <li class="menu" id="button">

                            <div class="sidebar-icon icon-hover category-icon"
                                 onmouseover="tooltip.pop(this, '#button-tooltip', {position:1, offsetX:-5, effect:'slide'})"></div>
                            <a href="http://localhost/jojonomic/jojopro/public/jojo-example/ui/button">
                                <div class="sidebar-icon category-icon"></div>
                                Button                </a>
                        </li>
                    </div>

                </ul>
            </div>
            <div class="panel" >
                <li data-toggle="collapse" data-parent="#menu" data-target="#form-head" class="collapsed menu ">
                    <div class="sidebar-icon icon-hover claimer-icon"
                         onmouseover="tooltip.pop(this, '#form-tooltip', {position:1, offsetX:-5, effect:'slide'})"></div>
                    <a href="#" class="dropdown-link">
                        <div class="sidebar-icon claimer-icon"></div>
                        Form                        </a>
                    <span class="arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                </li>

                <ul id="form-head" class="collapse sub-menu">

                    <div class="panel">
                        <li class="menu" id="input">

                            <div class="sidebar-icon icon-hover category-icon"
                                 onmouseover="tooltip.pop(this, '#input-tooltip', {position:1, offsetX:-5, effect:'slide'})"></div>
                            <a href="http://localhost/jojonomic/jojopro/public/jojo-example/form/input">
                                <div class="sidebar-icon category-icon"></div>
                                Input                </a>
                        </li>
                    </div>


                    <div class="panel">
                        <li class="menu" id="placeholder">

                            <div class="sidebar-icon icon-hover category-icon"
                                 onmouseover="tooltip.pop(this, '#placeholder-tooltip', {position:1, offsetX:-5, effect:'slide'})"></div>
                            <a href="http://localhost/jojonomic/jojopro/public/jojo-example/form/placeholder">
                                <div class="sidebar-icon category-icon"></div>
                                Placeholder                </a>
                        </li>
                    </div>

                </ul>
            </div>
            <div class="panel" >
                <li data-toggle="collapse" data-parent="#menu" data-target="#library-head" class="collapsed menu ">
                    <div class="sidebar-icon icon-hover claimer-icon"
                         onmouseover="tooltip.pop(this, '#library-tooltip', {position:1, offsetX:-5, effect:'slide'})"></div>
                    <a href="#" class="dropdown-link">
                        <div class="sidebar-icon claimer-icon"></div>
                        Library                        </a>
                    <span class="arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                </li>

                <ul id="library-head" class="collapse sub-menu">

                    <div class="panel">
                        <li class="menu" id="select2">

                            <div class="sidebar-icon icon-hover category-icon"
                                 onmouseover="tooltip.pop(this, '#select2-tooltip', {position:1, offsetX:-5, effect:'slide'})"></div>
                            <a href="http://localhost/jojonomic/jojopro/public/jojo-example/library/select2">
                                <div class="sidebar-icon category-icon"></div>
                                Select2                </a>
                        </li>
                    </div>


                    <div class="panel">
                        <li class="menu" id="validator">

                            <div class="sidebar-icon icon-hover category-icon"
                                 onmouseover="tooltip.pop(this, '#validator-tooltip', {position:1, offsetX:-5, effect:'slide'})"></div>
                            <a href="http://localhost/jojonomic/jojopro/public/jojo-example/library/validator">
                                <div class="sidebar-icon category-icon"></div>
                                Validator                </a>
                        </li>
                    </div>


                    <div class="panel">
                        <li class="menu" id="datatable">

                            <div class="sidebar-icon icon-hover category-icon"
                                 onmouseover="tooltip.pop(this, '#datatable-tooltip', {position:1, offsetX:-5, effect:'slide'})"></div>
                            <a href="http://localhost/jojonomic/jojopro/public/jojo-example/library/datatable">
                                <div class="sidebar-icon category-icon"></div>
                                Datatable                </a>
                        </li>
                    </div>


                    <div class="panel">
                        <li class="menu" id="autonumeric">

                            <div class="sidebar-icon icon-hover category-icon"
                                 onmouseover="tooltip.pop(this, '#autonumeric-tooltip', {position:1, offsetX:-5, effect:'slide'})"></div>
                            <a href="http://localhost/jojonomic/jojopro/public/jojo-example/library/autonumeric">
                                <div class="sidebar-icon category-icon"></div>
                                Autonumeric                </a>
                        </li>
                    </div>


                    <div class="panel">
                        <li class="menu" id="sweetalert">

                            <div class="sidebar-icon icon-hover category-icon"
                                 onmouseover="tooltip.pop(this, '#sweetalert-tooltip', {position:1, offsetX:-5, effect:'slide'})"></div>
                            <a href="http://localhost/jojonomic/jojopro/public/jojo-example/library/sweetalert">
                                <div class="sidebar-icon category-icon"></div>
                                Sweetalert                </a>
                        </li>
                    </div>


                    <div class="panel">
                        <li class="menu" id="menuexample">

                            <div class="sidebar-icon icon-hover category-icon"
                                 onmouseover="tooltip.pop(this, '#menuexample-tooltip', {position:1, offsetX:-5, effect:'slide'})"></div>
                            <a href="http://localhost/jojonomic/jojopro/public/jojo-example/library/menu">
                                <div class="sidebar-icon category-icon"></div>
                                Menu                </a>
                        </li>
                    </div>

                </ul>
            </div>
            <div class="panel" >
                <li data-toggle="collapse" data-parent="#menu" data-target="#plugin-head" class="collapsed menu ">
                    <div class="sidebar-icon icon-hover claimer-icon"
                         onmouseover="tooltip.pop(this, '#plugin-tooltip', {position:1, offsetX:-5, effect:'slide'})"></div>
                    <a href="#" class="dropdown-link">
                        <div class="sidebar-icon claimer-icon"></div>
                        Plugin                        </a>
                    <span class="arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                </li>

                <ul id="plugin-head" class="collapse sub-menu">

                    <div class="panel">
                        <li class="menu" id="multi-select2">

                            <div class="sidebar-icon icon-hover category-icon"
                                 onmouseover="tooltip.pop(this, '#multi-select2-tooltip', {position:1, offsetX:-5, effect:'slide'})"></div>
                            <a href="http://localhost/jojonomic/jojopro/public/jojo-example/plugin/multi-select2">
                                <div class="sidebar-icon category-icon"></div>
                                Multi Select2                </a>
                        </li>
                    </div>


                    <div class="panel">
                        <li class="menu" id="multi-currency-price">

                            <div class="sidebar-icon icon-hover category-icon"
                                 onmouseover="tooltip.pop(this, '#multi-currency-price-tooltip', {position:1, offsetX:-5, effect:'slide'})"></div>
                            <a href="http://localhost/jojonomic/jojopro/public/jojo-example/plugin/multi-currency-price">
                                <div class="sidebar-icon category-icon"></div>
                                Multi Currency Price                </a>
                        </li>
                    </div>


                    <div class="panel">
                        <li class="menu" id="multi-file">

                            <div class="sidebar-icon icon-hover category-icon"
                                 onmouseover="tooltip.pop(this, '#multi-file-tooltip', {position:1, offsetX:-5, effect:'slide'})"></div>
                            <a href="http://localhost/jojonomic/jojopro/public/jojo-example/plugin/multi-file">
                                <div class="sidebar-icon category-icon"></div>
                                Multi File                </a>
                        </li>
                    </div>


                    <div class="panel">
                        <li class="menu" id="floating-prompt">

                            <div class="sidebar-icon icon-hover category-icon"
                                 onmouseover="tooltip.pop(this, '#floating-prompt-tooltip', {position:1, offsetX:-5, effect:'slide'})"></div>
                            <a href="http://localhost/jojonomic/jojopro/public/jojo-example/plugin/floating-prompt">
                                <div class="sidebar-icon category-icon"></div>
                                Floating Prompt                </a>
                        </li>
                    </div>


                    <div class="panel">
                        <li class="menu" id="wheel-menu">

                            <div class="sidebar-icon icon-hover category-icon"
                                 onmouseover="tooltip.pop(this, '#wheel-menu-tooltip', {position:1, offsetX:-5, effect:'slide'})"></div>
                            <a href="http://localhost/jojonomic/jojopro/public/jojo-example/plugin/wheel-menu">
                                <div class="sidebar-icon category-icon"></div>
                                Wheel Menu                </a>
                        </li>
                    </div>


                    <div class="panel">
                        <li class="menu" id="timeline">

                            <div class="sidebar-icon icon-hover category-icon"
                                 onmouseover="tooltip.pop(this, '#timeline-tooltip', {position:1, offsetX:-5, effect:'slide'})"></div>
                            <a href="http://localhost/jojonomic/jojopro/public/jojo-example/plugin/timeline">
                                <div class="sidebar-icon category-icon"></div>
                                Timeline                </a>
                        </li>
                    </div>


                    <div class="panel">
                        <li class="menu" id="budget">

                            <div class="sidebar-icon icon-hover category-icon"
                                 onmouseover="tooltip.pop(this, '#budget-tooltip', {position:1, offsetX:-5, effect:'slide'})"></div>
                            <a href="http://localhost/jojonomic/jojopro/public/jojo-example/plugin/budget">
                                <div class="sidebar-icon category-icon"></div>
                                Budget                </a>
                        </li>
                    </div>


                    <div class="panel">
                        <li class="menu" id="summary-block">

                            <div class="sidebar-icon icon-hover category-icon"
                                 onmouseover="tooltip.pop(this, '#summary-block-tooltip', {position:1, offsetX:-5, effect:'slide'})"></div>
                            <a href="http://localhost/jojonomic/jojopro/public/jojo-example/plugin/summary-block">
                                <div class="sidebar-icon category-icon"></div>
                                Summary Block                </a>
                        </li>
                    </div>

                </ul>
            </div>
            <div class="panel" >
                <li data-toggle="collapse" data-parent="#menu" data-target="#example-head" class="collapsed menu ">
                    <div class="sidebar-icon icon-hover claimer-icon"
                         onmouseover="tooltip.pop(this, '#example-tooltip', {position:1, offsetX:-5, effect:'slide'})"></div>
                    <a href="#" class="dropdown-link">
                        <div class="sidebar-icon claimer-icon"></div>
                        Example                        </a>
                    <span class="arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                </li>

                <ul id="example-head" class="collapse sub-menu">

                    <div class="panel">
                        <li class="menu" id="example-create-form">

                            <div class="sidebar-icon icon-hover category-icon"
                                 onmouseover="tooltip.pop(this, '#example-create-form-tooltip', {position:1, offsetX:-5, effect:'slide'})"></div>
                            <a href="http://localhost/jojonomic/jojopro/public/jojo-example/example/create">
                                <div class="sidebar-icon category-icon"></div>
                                Create Form                </a>
                        </li>
                    </div>


                    <div class="panel">
                        <li class="menu" id="example-detail-form">

                            <div class="sidebar-icon icon-hover category-icon"
                                 onmouseover="tooltip.pop(this, '#example-detail-form-tooltip', {position:1, offsetX:-5, effect:'slide'})"></div>
                            <a href="http://localhost/jojonomic/jojopro/public/jojo-example/example/detail/XkWAF3icCPrHj2gv82YLud_Jeq4rgHYpyti8bmzwTY8%3D">
                                <div class="sidebar-icon category-icon"></div>
                                Detail Form                </a>
                        </li>
                    </div>


                    <div class="panel">
                        <li class="menu" id="example-tutorial">

                            <div class="sidebar-icon icon-hover category-icon"
                                 onmouseover="tooltip.pop(this, '#example-tutorial-tooltip', {position:1, offsetX:-5, effect:'slide'})"></div>
                            <a href="http://localhost/jojonomic/jojopro/public/jojo-example/example/tutorial">
                                <div class="sidebar-icon category-icon"></div>
                                Tutorial                </a>
                        </li>
                    </div>

                </ul>
            </div>
            <div class="panel" >
                <li data-toggle="collapse" data-parent="#menu" data-target="#ajax-head" class="collapsed menu ">
                    <div class="sidebar-icon icon-hover integration-icon"
                         onmouseover="tooltip.pop(this, '#ajax-tooltip', {position:1, offsetX:-5, effect:'slide'})"></div>
                    <a href="#" class="dropdown-link">
                        <div class="sidebar-icon integration-icon"></div>
                        Ajax                        </a>
                    <span class="arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                </li>

                <ul id="ajax-head" class="collapse sub-menu">

                    <div class="panel">
                        <li class="menu" id="get">

                            <div class="sidebar-icon icon-hover category-icon"
                                 onmouseover="tooltip.pop(this, '#get-tooltip', {position:1, offsetX:-5, effect:'slide'})"></div>
                            <a href="http://localhost/jojonomic/jojopro/public/jojo-example/ajax/get">
                                <div class="sidebar-icon category-icon"></div>
                                Get                </a>
                        </li>
                    </div>


                    <div class="panel">
                        <li class="menu" id="post">

                            <div class="sidebar-icon icon-hover category-icon"
                                 onmouseover="tooltip.pop(this, '#post-tooltip', {position:1, offsetX:-5, effect:'slide'})"></div>
                            <a href="http://localhost/jojonomic/jojopro/public/jojo-example/ajax/post">
                                <div class="sidebar-icon category-icon"></div>
                                Post                </a>
                        </li>
                    </div>


                    <div class="panel">
                        <li class="menu" id="race-condition">

                            <div class="sidebar-icon icon-hover category-icon"
                                 onmouseover="tooltip.pop(this, '#race-condition-tooltip', {position:1, offsetX:-5, effect:'slide'})"></div>
                            <a href="http://localhost/jojonomic/jojopro/public/jojo-example/ajax/race-condition">
                                <div class="sidebar-icon category-icon"></div>
                                Race Condition                </a>
                        </li>
                    </div>

                </ul>
            </div>
            <div class="panel" >
                <li class="menu">
                    <div class="sidebar-icon icon-hover claimer-icon"  onmouseover="tooltip.pop(this, '#challange-tooltip', {position:1, offsetX:-5, effect:'slide'})"></div>
                    <a href="http://localhost/jojonomic/jojopro/public/jojo-example/challange">
                        <div class="sidebar-icon claimer-icon"></div>
                        Challange                        </a>
                </li>
            </div>
            <div class="panel" >
                <li class="menu">
                    <div class="sidebar-icon icon-hover claimer-icon"  onmouseover="tooltip.pop(this, '#suggestion-tooltip', {position:1, offsetX:-5, effect:'slide'})"></div>
                    <a href="http://localhost/jojonomic/jojopro/public/jojo-example/suggestion">
                        <div class="sidebar-icon claimer-icon"></div>
                        suggestion                        </a>
                </li>
            </div>
        </ul>
    </div>
