/*  This is grid for small devices ex. tablet
    on range 768px - 1049px
*/

.container {
    background-color: blue;/* sementara cuma buat ngecek */
    max-width: 707px;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px; 
}


