.card{
    background-color: #F7F7F8;
    width: 125px;
    height: 145px;
    border-radius: 10px;
}

.card__content{
    background-color: #42A5CE;
    width: 125px;
    height: 100px;
}

.card__description{
    
}

.card__description div, .card__description h4{
    margin-top: 0px;
    padding left: 12px;
}

.card__description h4{
    margin-bottom: 0px;
}